<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'uCook', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li>
            <p class="navbar-text">Inloggad som: <%= current_user.email %> </p>
          </li>
          <li class="btn-group btn-group-xs">
            <%= link_to 'Logga ut', destroy_user_session_path, method: :delete, class: 'navbar-text btn btn-default' %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Registrera dig!', new_user_registration_path %>
          </li>
          <li class="btn-group btn-group-xs">
            <%= render 'shared/navbar_login' %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>