<h1> <%= @recept.title %></h1>
<small><%= link_to 'Radera recept', recept_path(@recept), method: :delete, data: {confirm: 'Är du säker?'} %></small>
<small><%= link_to 'Editera recept', edit_recept_path(@recept) %></small>
<p> <%= @recept.description %></p>

<% if @recept.ingredients.any? %>
    <div class="row-fluid">
      <h3>Ingredienser</h3>
      <% @recept.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
      <% end %>
    </div>

<% end %>
<div class="row-fluid">
  <div class="well well-sm">
    <small> Det här receptet har visats <%= @recept.impressionist_count %> gånger.</small>

  </div>
</div>
