<h1> <%= @recept.title %></h1>
<small><%= link_to 'Radera recept', recept_path(@recept), method: :delete, data: {confirm: 'Är du säker?'} %></small>
<small><%= link_to 'Editera recept', edit_recept_path(@recept) %></small>
<%= image_tag @recept.image.url(:medium) if @recept.image.exists? %>
<p> <%= @recept.description %></p>

<% if @recept.ingredients.any? %>
    <div class="row-fluid">
      <h3>Ingredienser</h3>
      <% @recept.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
      <% end %>
    </div>

<% end %>
<div class="row-fluid">
  <% if @recept.marked_as_favorite? by: current_user %>
      <%= link_to 'Ångra favorit', remove_favorite_recept_path, class: 'active',  data: { no_turbolink: true } %>
  <% else %>
      <%= link_to 'Min favorit', add_favorite_recept_path, class: 'active',  data: { no_turbolink: true } %>
  <% end %>
</div>
<div class="row-fluid">
  <div class="well well-sm">
    <small> Det här receptet har visats <%= @recept.impressionist_count %> gånger.</small>
  </div>
</div>
